.info-item {
    padding: 5px 20px;
    display: flex;
    .creator {
        width: 100px;
        color: #4321d3;
        font-weight: bold;
    }
    .content {
        flex: 1;
        color: #666;
    }
}
.send-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #aaaaaa52;
    padding: 0 20px;
    input {
        display: inline-block;
        flex: 1;
        color: #333;
    }
    .img {
        display: inline-block;
        width: 60px;
        height: 30px;
    }
}